/* Carousel Css Start  */
.carousel1 {
    height: 600px;
    position: relative;
    top: -25px;
    left: 0;
    z-index: -1;
    display: flex;
    justify-content: center;
    align-items: center;
}
.carousel1::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.4);
    z-index: 1;
}
.caro-content h3 {
    color: white;
    font-size: 35px;
    font-weight: bold;
    font-family: sans-serif;
    position: relative;
    z-index: 33;
}
/* Carousel Css End  */

.heading {
    color: black;
    font-weight: 500;
    text-align: left;
    margin-left: 35px;
    margin-bottom: -100px;
}
.heading:before {
    content: '';
    width: 80px;
    height: 3px;
    background: #f34444;
    position: absolute;
    left: 0px;
    bottom: -10px;
    right:0;  
    margin:0 auto;
}

/* <- Card Carousel Start -> */
.carousel2 {
    height: 500px;
}

.card-wrapper {
    display: flex;
    padding: 35px;
}

.card-wrapper .card {
    margin: 0.4em;
    width: calc(100%/3);
    height: 480px;
    border-radius: 25px;
    box-shadow: 0px 8px 10px 1px rgba(0, 0, 0, 0.5);
    overflow: hidden;
}

.card-wrapper .card:hover img {
    transform: translateY(-8px);
}

.img-wrapper img {
    background-position: center;
    background-size: cover;
    height: 250px;
    border-radius: 25px;
    transition: 0.3s ease;
}

.card-body {
    margin: 5px;
}

.card-body h5 {
    font-size: 16px;
    font-weight: 700;
    font-family: sans-serif;
    line-height: 25px;
    cursor: pointer;
}

.card-body p {
    font-size: 14px;
    font-weight: 600;
    font-family: 'Times New Roman', Times, serif;
}

.stars {
    margin-left: 10px;
}

.card-title .stars i {
    color: rgb(252, 182, 5);
    font-size: 14px;
}

.card-title .details i {
    color: #131313;
    font-size: 14px;
    margin: 5px;
}

.card-title .details i:hover {
    color: #f34444;
}

.card-body .cardbtn {
    background-color: none;
    color: #131313;
    font-size: 15px;
    font-weight: 600;
    font-family: sans-serif;
    transition: 0.1s ease-in-out;
}

.card-body .cardbtn:hover {
    color: #f34444;
}

.carousel-inner2 {
    padding: 35px;
}

.carousel-inner2 .card {
    margin: 10px auto;
    width: 300px;
    border-radius: 25px;
    box-shadow: 0px 8px 10px 1px rgba(0, 0, 0, 0.5);
}

.prev-icon {
    background-color: white;
    width: 50px;
    padding: 8px;
    border-radius: 20px;
}

.prev-icon i {
    color: #131313;
    font-size: 18px;
}

.next-icon {
    background-color: white;
    width: 50px;
    padding: 8px;
    border-radius: 20px;
}

.next-icon i {
    color: #131313;
    font-size: 18px;
}

/* Why choose  */
  .feat {
    margin-top: 100px;
  }

  .why-row {
    padding: 80px;
  }

  .section-head {
    margin-bottom: 60px;
  }
  
  .section-head h4 {
    position: relative;
    padding: 0;
    color: #f34444;
    line-height: 1;
    letter-spacing: 0.3px;
    font-size: 34px;
    font-weight: 700;
    text-align: center;
    text-transform: none;
    margin-bottom: 30px;
  }
  
  .section-head h4:before {
    content: '';
    width: 60px;
    height: 3px;
    background: #f34444;
    position: absolute;
    left: 0px;
    bottom: -10px;
    right: 0;
    margin: 0 auto;
  }
  
  .section-head h4 span {
    font-weight: 700;
    padding-bottom: 5px;
    color: #2f2f2f
  }
  
  p.service_text {
    color: #cccccc !important;
    font-size: 16px;
    line-height: 28px;
    text-align: center;
  }
  
  .section-head p,
  p.awesome_line {
    color: #818181;
    font-size: 16px;
    line-height: 28px;
    text-align: center;
  }
  
  .extra-text {
    font-size: 34px;
    font-weight: 700;
    color: #2f2f2f;
    margin-bottom: 25px;
    position: relative;
    text-transform: none;
  }
  
  .extra-text::before {
    content: '';
    width: 60px;
    height: 3px;
    background: #f34444;
    position: absolute;
    left: 0px;
    bottom: -10px;
    right: 0;
    margin: 0 auto;
  }
  
  .extra-text span {
    font-weight: 700;
    color: #f34444;
  }
  
  .item {
    background: #fff;
    text-align: center;
    padding: 30px 25px;
    -webkit-box-shadow: 0 0px 25px rgba(0, 0, 0, 0.07);
    box-shadow: 0 0px 25px rgba(0, 0, 0, 0.07);
    border-radius: 20px;
    border: 5px solid rgba(0, 0, 0, 0.07);
    margin-bottom: 30px;
    -webkit-transition: all .5s ease 0;
    transition: all .5s ease 0;
    transition: all 0.5s ease 0s;
  }
  
  .item:hover {
    background: #f34444;
    box-shadow: 0 8px 20px 0px rgba(0, 0, 0, 0.2);
    -webkit-transition: all .5s ease 0;
    transition: all .5s ease 0;
    transition: all 0.5s ease 0s;
  }
  
  .item:hover .item,
  .item:hover span.icon {
    background: #fff;
    border-radius: 10px;
    -webkit-transition: all .5s ease 0;
    transition: all .5s ease 0;
    transition: all 0.5s ease 0s;
  }
  
  .item:hover h6,
  .item:hover p {
    color: #fff;
    -webkit-transition: all .5s ease 0;
    transition: all .5s ease 0;
    transition: all 0.5s ease 0s;
  }
  
  .item .icon {
    font-size: 40px;
    margin-bottom: 25px;
    color: #f34444;
    width: 90px;
    height: 90px;
    line-height: 96px;
    border-radius: 50px;
  }
  
  .item .feature_box_col_one {
    background: rgba(247, 198, 5, 0.20);
    color: #f34444
  }
  
  .item .feature_box_col_two {
    background: rgba(255, 77, 28, 0.15);
    color: #f34444
  }
  
  .item .feature_box_col_three {
    background: rgba(0, 147, 38, 0.15);
    color: #f34444
  }
  
  .item .feature_box_col_four {
    background: rgba(0, 108, 255, 0.15);
    color: #f34444
  }
  
  .item .feature_box_col_five {
    background: rgba(146, 39, 255, 0.15);
    color: #f34444
  }
  
  .item .feature_box_col_six {
    background: rgba(23, 39, 246, 0.15);
    color: #f34444
  }
  
  .item p {
    font-size: 15px;
    line-height: 26px;
  }
  
  .item h6 {
    margin-bottom: 20px;
    color: #2f2f2f;
  }
  
  .mission p {
    margin-bottom: 10px;
    font-size: 15px;
    line-height: 28px;
    font-weight: 500;
  }
  
  .mission i {
    display: inline-block;
    width: 50px;
    height: 50px;
    line-height: 50px;
    text-align: center;
    background: #f34444;
    border-radius: 50%;
    color: #fff;
    font-size: 25px;
  }
  
  .mission .small-text {
    margin-left: 10px;
    font-size: 13px;
    color: #666;
  }
  
  .skills {
    padding-top: 0px;
  }
  
  .skills .prog-item {
    margin-bottom: 25px;
  }
  
  .skills .prog-item:last-child {
    margin-bottom: 0;
  }
  
  .skills .prog-item p {
    font-weight: 500;
    font-size: 15px;
    margin-bottom: 10px;
  }
  
  .skills .prog-item .skills-progress {
    width: 100%;
    height: 10px;
    background: #e0e0e0;
    border-radius: 20px;
    position: relative;
  }
  
  .skills .prog-item .skills-progress span {
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    background: #f34444;
    width: 10%;
    border-radius: 10px;
    -webkit-transition: all 1s;
    transition: all 1s;
  }
  
  .skills .prog-item .skills-progress span:after {
    content: attr(data-value);
    position: absolute;
    top: -5px;
    right: 0;
    font-size: 10px;
    font-weight: 600;
    color: #fff;
    background: rgba(0, 0, 0, 0.9);
    padding: 3px 7px;
    border-radius: 30px;
  }

@media screen and (max-width: 650px) { 
    .image .move {
        height: 250px;
        width: 350px;
    }
}

@media screen and (max-width: 400px) { 
    .image .move {
        height: 200px;
        width: 300px;
    }
}

/* <- Grid Cards -> */
@media (max-width: 850px) {
    .card-container {
        grid-template-columns: repeat(auto-fill, minmax(50%, -1fr));
        grid-template-rows: minmax(auto, auto);
    }

    .card-container .box {
        grid-column: unset !important;
        grid-row: unset !important;
    }
}

/* <- Card Carousel -> */
@media screen and (max-width: 960px) {
    .card-wrapper .card {
       margin: 20px;
       width: 320px;
    }
     #sl4 {
        display: none;
    }
}
@media screen and (max-width: 820px) {
    #sl3, #sl4 {
        display: none;
    }
}
@media screen and (min-width: 568px) {
    .card-wrapper {
        display: flex;
    }

    .card {
        margin: 0.5em;
        width: calc(100%/4);
    }
}

@media screen and (max-width: 567px) {
    .card:not(:first-child) {
        display: none;
    }
}
