@import url('https://fonts.googleapis.com/css2?family=Moon+Dance&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style-type: none;
    text-decoration: none;
}
body{
    overflow-x: hidden !important;
}
/* body::-webkit-scrollbar{
    display: none !important;
} */
/* <...Header...>  */
header{
    width: 100%;
    display: flex !important; 
    justify-content: space-evenly !important;
    align-items: center !important;
    padding: 10px 0px;
    background-color: white;
    border-bottom: 1px solid gainsboro;
    
}

.left .signin {
    color: rgb(49, 49, 49);;
    font-size: 12px;
    cursor: pointer;
    padding: 10px;
    text-decoration: none;
    transition: 0.2s ease;
    z-index: 1;
}

.left .signin i {
    color: #ef1746;
    font-size: 18px;
}

.right .signin {
    background-color: #ffffff;
    border-radius: 35px;
    padding: 5px;
    justify-content: center;
    align-items: center;
    /* border: 2px solid transparent; */
    transition: all 0.5s ease;
    margin: 0px 10px;
    border: 2px solid #fff;
    transition: 0.2s ease;
}

.right .signin i {
    color: rgb(49, 49, 49);
    font-size: 18px;
    margin: 5px;
    font-weight: 550;
    margin: 0px 10px;
}


.signin:hover .fa-facebook {
    color: #1877F2 !important;
}
.signin:hover .fa-instagram {
    color: #CD201F !important;
}
.signin:hover .fa-twitter {
    color: #1DA1F2 !important;
}
i{
    transition: transform 0.3s ease !important;
}
.fa-location:hover,
.fa-phone:hover,
.fa-location-dot:hover,
.fa-map-location-dot:hover,
.fa-plane-departure:hover,
.fa-plane-arrival:hover{
    transform: rotate(-90deg) !important;
    color: #f34444 !important;
}
/* <...Header End...> */

/* <...Navbar Start...> */

.navbar {
    max-width: 100vw;
    background: none;
}

.wrapper {
    display: block;
    margin: 0px auto;
    position: relative;
    top: -8px;
    height: 75px !important;
    width: 100%;
    padding: 5px;
    border-top: 1px solid gainsboro;
    background-color: #fff;
    border-bottom: 2px solid #fff;
    backdrop-filter: blur(2px);
    z-index: 1;
}

.wrapper ul {
    margin-top: 20px;
    display: flex;
    justify-content: right;
}

.logo {
    position: absolute;
    top: -85px;
    left: -15px;
    height: 90px;
    background-color: white;
    width: 165px;
}
.logo img {
    height: 250px;
    width: auto;
}

.wrapper li {
    list-style-type: none;
}

.nav-links a {
    position: relative;
    margin: 5px 10px;
    text-decoration: none;
    color: rgb(49, 49, 49);;
    font-size: 14px;
    font-family: 'Quicksand', sans-serif;
    font-weight: 600;
    transition: 0.3s ease;
}
.nav-links .active {
    color:  #f34444;
    /* font-weight: 550; */
}
.nav-links li a:hover{
    color: #f34444 !important;
}
.wrapper .nav-links li a::before {
    content: '';
    position: absolute;
    background-color: #f34444;
    width: 0;
    height: 1.5px;
    bottom: -5px;
    left: 0;
    transition: 0.2s ease;
}

.wrapper ul li a:hover:before {
    width: 100%;
}

.wrapper li:hover .desk-items {
    color: fff;
}

.wrapper li:hover .nav-items {
    color: #f34444;
}

.nav-links .mob-items {
    display: none;
}

.navbar .btn {
    color: rgb(49, 49, 49) !important;
    font-size: 20px;
    cursor: pointer;
    display: none;
}

.navbar .cancel-btn {
    position: absolute;
    right: 30px;
    top: 10px;
}

.navbar .menu-btn {
    position: absolute;
    right: 10px;
    top: 0;
}

.sec {
    border: 0.5px solid rgb(165, 165, 165);
}

.wrapper input {
    display: none;
}

.button {
    padding: 3px;
    width: 50px;
    border: none;
    background-color: rgb(49, 49, 49) !important;
}

/* <...Navbar End...>  */

/* <- Subscribe Card CSS Start -> */
.subscribe {
    background: url(../media/subscribe.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 400px;
    margin-top: 100px;
    display: flex;
    justify-content: right;
    align-items: right;
    background-attachment: fixed;
    position: relative;
    /* box-shadow: 0px 4px 10px 2px rgba(0, 0, 0, 0.5); */
}

.subs-container {
    margin: 110px 0;
    margin-right: 50px;
}

.subs-container h2 {
    color: white;
    font-family: sans-serif;
    font-weight: 700;
}

.subs-container p {
    color: white;
    font-family: 'Times New Roman', Times, serif;
    font-weight: 600;
}

.subs-form {
    background-color: white;
    padding: 10px 30px;
    border-radius: 35px;
    box-shadow: 0px 0px 5px 1px #d4d4d4;
}

.subs-form input {
    border: none;
    color: #131313;
    font-size: 14px;
    font-weight: 550;
    font-family: Georgia, 'Times New Roman', Times, serif;
    outline: none;
}

.subs-form input:focus {
    background-color: none;
}

.subs-form i {
    color: #131313;
    cursor: pointer;
    transition: 0.3s ease;
}

.subs-form:hover i {
    transform: translateY(-2px);
    color: #f34444;
}

.subs-form button {
    color: #131313;
    background-color: #fff;
    border: 2px solid transparent;
    box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.5);
    border-radius: 25px;
    padding: 8px;
    font-size: 12px;
    font-weight: 800;
    font-family: sans-serif;
    transition: 0.3s ease;
    position: relative;
    right: -38px;
}

.subs-form button:hover {
    color: #fff;
    background-color: #f34444;
}

/* <- Subscribe Card CSS End -> */

/* <- Footer Css Start -> */
.footer {
    height: fit-content;
    overflow: hidden;
    padding: 15px 15px;
    background-color:  rgb(49,49,49);
    margin-top: 100px;
    /* box-shadow: 0px -5px 10px rgba(0, 0, 0, 0.5); */
    border-top: 2px solid #fff;
}

footer .row {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
}

.col {
    column-gap: 30px;
}

.col h2 {
    color: white;
    font-weight: 600;
    font-family: sans-serif;
    position: relative;
    max-width: fit-content;
}

.col p {
    color: white;
    font-size: 12px;
    font-weight: 400;
    font-family: sans-serif;
    cursor: pointer;
    margin-top: 10px;
    transition: 0.1s ease;
}

#col2 p:hover {
    transform: scale(1.01);
}

#col3 p:hover {
    transform: scale(1.01);
}

.col ul li i {
    font-size: 15px;
    color: #ef1746;
}

.col p a {
    color: white;
    font-size: 14px;
    font-weight: 550;
    font-family: 'Times New Roman', Times, serif;
    text-decoration: none;
    cursor: pointer;
    transition: 0.1s ease;
}

#col1 {
    margin-left: 20px;
    margin-top: -50px;
}

#col1 img {
   height: 230px;
   width: auto;
   position: relative;
   top: 20px;
   left: -40px;
}

#col1 p {
    color: white;
    font-size: 12px;
    font-weight: 500;
    font-family: sans-serif;
    margin-top: -40px;
}

#col4 {
    margin-top: 15px;
    margin-bottom: 20px;
    cursor: none;
}
.footer ul{
    margin-left: -30px;
}

footer .images .row {
    display: flex;
    justify-content: center;
    align-items: center;
}
.images{
    margin-left: -50px !important;
}
footer .images .row img {
    height: 60px;
    width: 80px;
    margin: -10px;
    margin-top: 15px;
    cursor: default;
    transition: 0.2s ease;
}
footer .images .row img:hover {
    transform: scale(1.02);
}
.underline {
    width: 100%;
    height: 5px;
    background: white;
    position: absolute;
    border-radius: 3px;
    top: 35px;
    left: 0;
    overflow: hidden;
}
.underline span {
    width: 20px;
    height: 100%;
    background: #f34444;
    border-radius: 3px;
    position: absolute;
    top: 0;
    left: 10px;
    animation: moving 2s linear infinite;
}
@keyframes moving {
    0% {
        left: -20;
    }

    100% {
        left: 100%;
    }
}
.footer{
    background: #000;
    width: 100%;
    color: #fff;
}
.footer li{
    list-style: none !important;
    margin: 10px 0px;
}
.footer a{
    color: #fff !important;
    
    text-decoration: none;
}
.footer h2{
    color: #f34444 ;
    padding-bottom: 0px !important;
}
.footer p{
    color: #fff;
}

.last {
    display: flex;
    justify-content: space-between;
}

.icons {
    /* position: absolute; */
    right: 5px;
    bottom: -10px;
}

.wrapper2 {
    display: inline-flex;
    list-style: none;
}
  
.wrapper2 .icon {
    position: relative;
    background: #ffffff;
    color:  rgb(36, 36, 36);
    border-radius: 50%;
    padding: 8px;
    margin: 10px;
    width: 40px;
    height: 40px;
    font-size: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    transition: all 0.2s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}
  
.wrapper2 .tooltip {
    position: absolute;
    top: 0;
    font-size: 14px;
    background: #ffffff;
    color: #ffffff;
    padding: 5px 8px;
    border-radius: 5px;
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
    opacity: 0;
    pointer-events: none;
    transition: all 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}
  
.wrapper2 .tooltip::before {
    position: absolute;
    content: "";
    height: 8px;
    width: 8px;
    background: #ffffff;
    bottom: -3px;
    left: 50%;
    transform: translate(-50%) rotate(45deg);
    transition: all 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}
  
.wrapper2 .icon:hover .tooltip {
    top: -45px;
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
}
  
.wrapper2 .icon:hover span,
.wrapper2 .icon:hover .tooltip {
    text-shadow: 0px -1px 0px rgba(0, 0, 0, 0.1);
}
  
.wrapper2 .facebook:hover,
.wrapper2 .facebook:hover .tooltip,
.wrapper2 .facebook:hover .tooltip::before {
    background: #1877F2;
    color: #ffffff;
}
  
.wrapper2 .twitter:hover,
.wrapper2 .twitter:hover .tooltip,
.wrapper2 .twitter:hover .tooltip::before {
    background: #1DA1F2;
    color: #ffffff;
}
  
.wrapper2 .instagram:hover,
.wrapper2 .instagram:hover .tooltip,
.wrapper2 .instagram:hover .tooltip::before {
    background: #E4405F;
    color: #ffffff;
}
  
.wrapper2 .github:hover,
.wrapper2 .github:hover .tooltip,
.wrapper2 .github:hover .tooltip::before {
    background: #333333;
    color: #ffffff;
}
  
.wrapper2 .youtube:hover,
.wrapper2 .youtube:hover .tooltip,
.wrapper2 .youtube:hover .tooltip::before {
    background: #CD201F;
    color: #ffffff;
}

.copyright {
    color: white;
    font-size: 16px;
    font-weight: 600;
    font-family: sans-serif;
}

/* <- Footer Css End -> */

@media screen and (max-width: 970px) {

    /* Navbar  */
    .header {
        display: none;
    }

    .wrapper {
        width: 100%;
        top: -8px;
        border-radius: 0;
        border-bottom: 2px solid #fff;
        z-index: 10;
    }

    .wrapper .nav-links {
        position: fixed;
        height: 150vh;
        width: 100%;
        max-width: 350px;
        background-color: rgb(36, 36, 36);
        display: block;
        top: -70px;
        left: -100%;
        overflow-y: auto;
        line-height: 25px;
        padding: 50px 10px;
        z-index: 1;
    }

    #menu-btn:checked~.nav-links {
        left: 0%;
    }

    #menu-btn:checked~.btn.menu-btn {
        display: none;
    }

    .user {
        padding: 5px 10px;
    }

    .nav-links li {
        margin: 15px 10px;
    }

    .wrapper li:hover {
        background-color: none;
    }

    .nav-links li a {
        padding: 0 20px;
        display: block;
        font-size: 20px;
    }

    .fa-right-to-bracket,
    .fa-angle-down {
        color: white;
    }

    .wrapper ul li a:hover:before {
        width: 0;
    }

    .nav-links .desk-items {
        display: none;
    }

    .nav-links .mob-items {
        display: block;
        color: rgb(144, 143, 143);
        font-size: 20px;
        font-family: Arial, Helvetica, sans-serif;
        font-weight: bold;
        padding-left: 65px;
        margin-bottom: 10px;
        cursor: pointer;
        border-radius: 5px;
        transition: all 0.3s ease;
    }

    .nav-links .mob-items:hover {
        background: #3A3B3C;
        color: white;
    }

    .wrapper input {
        display: none;
    }

    .navbar .btn {
        display: block;
    }

    .navbar .menu-btn {
        right: 6px;
        top: 18px;
        font-size: 15px;
        color: #fff;
        border: 2px solid #fff;
    }

    .left {
        display: none;
    }

    .button {
        display: none;
    }

    .sep {
        display: none;
    }

    .carousel1 .carousel-caption p {
        display: none;
    }
}

/* <- CAROUSEl -> */
@media (max-width: 650px) {
    .logo {
        top: -40px;
        left: -12px;
        height: 1px;
    }
    .logo img {
        height: 160px;
        width: auto;
    }
    .image .move {
        height: 200px;
        width: 300px;
    }
    /* Footer Icons  */
    .last {
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .icons {
        display: none;
    }
}

/* <- Subscribe Card -> */
@media screen and (max-width: 420px) {
    .subs-container {
        margin-right: 10px;
    }

    .subs-form {
        padding: 10px 10px;
    }

    .subs-form button {
        margin-left: 0px;
    }
}

/* <- Footer -> */
@media screen and (max-width: 970px) {
    .footer {
        height: fit-content;
    }

    .row {
        display: block;
    }

    .col {
        margin: 20px;
    }

    #col4 {
        display: none;
    }
    .footer a {
        font-size: 12px;
    }
    #col2 ul li {
        font-size: 11px;
    }
}

@media only screen and (max-width: 1230px) {
    footer #col4 .img-10, .img-5 {
        display: none;
    }
}
.span{
    color:#2f2f2f;
}
.span{
    border-bottom: 3px solid #f34444 !important;
}